body {
    font-family: Arial, sans-serif;
    margin: 40px;
    line-height: 1.6;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-top: 30px;
}

h3 {
    margin-bottom: 5px;
}

h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: normal;
}

h5 {
    margin-top: 0;
    font-weight: normal;
    color: gray;
}

section {
    margin-bottom: 20px;
}

ul {
    margin-top: 10px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}